name: Build Sycomore
on: push

jobs:
  build:
    runs-on: ${{ matrix.os }}
    container: ${{ matrix.container }}
    name: ${{ matrix.container || matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - { os: "ubuntu-latest", packaging: "apt", container: "debian:stretch", python: "python3" }
          - { os: "ubuntu-latest", packaging: "apt", container: "debian:buster", python: "python3" }
          - { os: "ubuntu-latest", packaging: "apt", container: "debian:bullseye", python: "python3" }
          - { os: "ubuntu-latest", packaging: "apt", container: "ubuntu:bionic", python: "python3" }
          - { os: "ubuntu-latest", packaging: "apt", container: "ubuntu:focal", python: "python3" }
          - { os: "macos-10.15", packaging: "brew", python: "python3" }
          - { os: "windows-latest", packaging: "conda", python: "python" }
    env:
      WORKSPACE: "${{ github.workspace }}"
    steps:
      - name: Provision (Debian, Ubuntu)
        # Install Python and Git. macOS and Windows workers already have this,
        # however for Linux we are running in minimal containers.
        run: |
          apt-get update
          apt-get install -y git python3
        if: ${{ contains(matrix.container, 'debian') || contains(matrix.container, 'ubuntu') }}
      
      - name: Provision (Windows)
        # Initialize the Conda environment by default
        run: C:\Miniconda\condabin\conda.bat init powershell
        if: ${{ contains(matrix.os, 'windows') }}
      
      - name: Checkout latest revision
        # Only the latest revision is required, as later steps do not depend on
        # tags.
        run: git clone --depth=1 https://github.com/lamyj/sycomore.git .
      
      - name: Set-up (${{ matrix.packaging }})
        run: ${{ matrix.python }} .ci/build/${{ matrix.packaging }}.py
      
      - name: Build sycomore
        run: ${{ matrix.python }} ./.ci/build/build.py
      
      - name: Run tests
        run: ${{ matrix.python }} ./.ci/build/post_build.py
